<?xml version="1.0" encoding="utf-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context.xsd
http://www.springframework.org/schema/aop
http://www.springframework.org/schema/aop/spring-aop.xsd
http://www.springframework.org/schema/tx
http://www.springframework.org/schema/tx/spring-tx.xsd">
<!--扫描service包下的所有类，将Service中的类注入到Spring Ioc容器中-->
    <context:component-scan base-package="com.seckill.service"></context:component-scan>
    <!--spring声明事务管理机制，事务管理器-->
    <!--不同数据库使用的事务管理器不一样，mybaits默认使用的是jdbc的管理器，hibernate使用自己的管理器-->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"></property>
        <!--数据源的配置-->
    </bean>
    <!--默认使用基于注解的方式去开启事务-->
    <tx:annotation-driven transaction-manager="transactionManager"/>
</beans>